@import "./theme/theme.scss";

.container {
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // height: 100vh;
}

.loading {
  font-size: $font-size-large;
  font-weight: bold;
  color: $text-color-light;
}

.bike {
  display: block;
  width: 16em;
  height: auto;
}

.bike__body,
.bike__front,
.bike__handlebars,
.bike__seat {
  stroke: $border-color-light;
}

.bike__tire,
.bike__spokes,
.bike__pedals {
  stroke: $border-color-light;
}

.bike__tire {
  animation: bikeTire 3s ease-in-out infinite;
}

.bike__pedalsSpin {
  animation: bikePedalsSpin 3s ease-in-out infinite;
}

.bike__pedals {
  animation: bikePedals 3s ease-in-out infinite;
}

.bike__spokes {
  animation: bikeSpokes 3s ease-in-out infinite;
}

.bike__spokesSpin {
  animation: bikeSpokesSpin 3s ease-in-out infinite;
}

/* Animations */
@keyframes bikeTire {
  from {
    animation-timing-function: ease-in;
    stroke-dashoffset: 56.549;
    transform: rotate(0);
  }
  33% {
    stroke-dashoffset: 0;
    transform: rotate(0.33turn);
  }
  67% {
    animation-timing-function: ease-out;
    stroke-dashoffset: 0;
    transform: rotate(0.67turn);
  }
  to {
    stroke-dashoffset: -56.549;
    transform: rotate(1turn);
  }
}

@keyframes bikePedals {
  from {
    animation-timing-function: ease-in;
    stroke-dashoffset: -25.133;
  }
  33%,
  67% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -21.991;
  }
  to {
    stroke-dashoffset: -25.133;
  }
}

@keyframes bikePedalsSpin {
  from {
    transform: rotate(0.1875turn);
  }
  to {
    transform: rotate(3.1875turn);
  }
}

@keyframes bikeSpokes {
  from {
    animation-timing-function: ease-in;
    stroke-dashoffset: -31.416;
  }
  33%,
  67% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -23.562;
  }
  to {
    stroke-dashoffset: -31.416;
  }
}

@keyframes bikeSpokesSpin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(3turn);
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
