@import "./theme/theme.scss";

.navbarContainer {
  display: flex;
  width: 100%;
  font-weight: bold;
  justify-content: center;
}

.menuButton,
.smallScreen {
  display: none;
}

@media (max-width: 768px) {
  .navbarContainer {
    display: none;
  }

  .menuButton {
    @include linkStyle(default);
    border: none;
    top: 0;
    right: 0;
    margin: $margin-large $margin-large;
    position: fixed;
    display: block;
    outline: none;
    background-color: transparent;
    z-index: 1000; /* Ensure it stays on top */
  }

  .smallScreen {
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: $background-alt-500;
    flex-direction: column;
    justify-content: center;
    // justify-items: ;
    text-align: end;
    // height: 100vh;
    z-index: 999;
    backdrop-filter: blur(5px);
  }
}
